.title{
    padding: 5px 20px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.all-cars-title{
    text-align: center;
    margin: 5%;
}

.car-list{
    display: flex;
}

.flex{
    display : flex;
    padding: 4px 8px;
}

li{
    list-style: none;
}

.li1-item-1{
    font-weight: bolder;
}
.li1-item-2{
    font-weight: bolder;
    margin-left: 65%;
}

.li2-item-2{
    margin-left: 11%;
}

.li2-item-3{
    margin-left: 11%;
}

.li2-item-4{
    margin-left: 12%;
}

.li3-item-2{
    margin-left: 9%;
}

.li3-item-3{
    margin-left: 7%;
}

.li3-item-4{
    margin-left: 10%;
}

.list3{
    margin-bottom: 25px;
    
}

a{
    width: 25%;
    margin: 0px 45px;
    box-shadow: 5px 10px 25px #787878;
    border-radius: 10px;
    color : black;
    text-decoration: none;
}

.card:hover{
    cursor: pointer;
}

.car-image{
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}